@import "master.scss";

.hero {
    height: 625px;
    background: #61c4d9 url("../img/hero-bg-branch.png") right no-repeat;
    padding-top: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;

    &__logo {
        height: 38px;
        width: 53px;
    }
}

.headline {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 330px;

    &__title {
        font-size: 60px;
        line-height: 60px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0px;
    }

    &__info {
        font-size: 21px;
        margin: 0px;
    }
}

