@import "master.scss";

.hero {
    background: url("../img/single-leaf.png") no-repeat 3.2vh 104vh, #61c4d9 url("../img/hero-bg-branch.png") right no-repeat;
    
    &__inner {
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__features {
        display: flex;
        justify-content: space-between;
        max-width: 480px;
    }

    &__dotted-list {
        position: absolute;
        right: -30px;
        top: 50vh - 16vh;
    }

    &::after {
        @include bg-slice(57px, 98px,"../img/single-leaf.png");
        bottom: -4vh;
        left: 3.2vh;
        z-index: 1;
    }
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    padding-top: 2.6vh;

    &__logo {
        height: 38px;
        width: 53px;
    }
}

.headline {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 330px;
    position: relative;

    &__title {
        font-size: 60px;
        line-height: 60px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0px 0px 5px 0px;
    }

    &__info {
        font-size: 21px;
        margin: 0px 0px 30px 0px;
    }
    
}


.choccos-berries {
    position: absolute;
    left: 495px;
    top: -93px;
}

