//font-weights
$extra-bold: 800;
$medium: 500;

//colors
$black: #000000;
$white: #ffffff;
$title-black: #0d0d0d;
$text-grey: #666666;
$light-grey: #f2f5f4;
$dark-grey: #2a2a29;
$title-dark-grey: #323232;
$btn-green: #0f5a47;
$btn-green-hover: #0b4d3c;
$bg-light-blue: #61c4d9;
$icon-light-blue: #aef5fe;

//normalize
@import "./misc/normalize.scss";

//setups
@import "./misc/mixins.scss";
@import "./misc/fonts.scss";
@import "./misc/layout.scss";

//blocks
@import "./blocks/header.scss";
@import "./blocks/logo.scss";
@import "./blocks/nav.scss";
@import "./blocks/hero.scss";
@import "./blocks/why.scss";
@import "./blocks/reviews.scss";
@import "./blocks/fixed-menu.scss";

.link {
    text-decoration: none;
    color: $white;
}

.phone-num {
    font-size: 24px;
    line-height: 30px;
    font-family: "Alegreya Sans";
    text-transform: uppercase;

    &__icon {
        width: 11px;
        height: 11px;
        fill: $white;
        margin-right: 2px;
    }
}

.btn {
    text-decoration: none;
    color: $white;
    font-size: 19px;
    font-weight: $extra-bold;
    text-transform: uppercase;
    display: block;
    width: 156px;
    height: 58px;
    background-color: $btn-green;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $btn-green-hover;
    }

    &:active {
        opacity: 80%;
    }

    &--theme--white {
        background-color: $white;
        color: $btn-green;

        &:hover {
            background-color: $white;
            box-shadow: 0 0 3px $black;
        }
    }


}

.feature-snippet {
    font-size: 16px;
    height: 60px;
    display: flex;
    justify-content: flex-start;

    &__icon {
        width: 44px;
        height: 44px;
        //Вытащил следующие стили из svg-файлов, цвет поменял на нужный, без них нормально не отрисовывается
        fill: none;
        stroke: $icon-light-blue;
        stroke-width: 0.5;
        stroke-miterlimit: 10;
        margin-right: 8px;
    }

    &__info {
        width: 70px;
        height: 55px;
        display: flex;
    }
}

.dotted-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__item {
        margin: 0 0 1.6vh 0;
        width: 0.63vh;
        height: 0.63vh;
        padding: 0px;
    }

    &__item--selected {
        .dot__outter {
            visibility: visible;
        }
    }

    &__item:last-child {
        margin: 0px;
    }

}

.dot__outter {
    visibility: hidden;
    ;
}



.advantage-snippet {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon-holder {
        width: 125px;
        height: 125px;
        background-color: $light-grey;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        fill: none;
        stroke: $dark-grey;
        stroke-width: 1;
        stroke-miterlimit: 10;
        //Вытащил следующие стили из svg-файлов, цвет поменял на нужный, без них нормально не отрисовывается
        height: 70px;
        width: 70px;
    }

    &__description {
        max-width: 270px;
        text-align: center;
    }

    &__title {
        font-size: 27px;
        font-weight: bold;
        color: $black;
        margin: 0px;
    }


    &__info {
        @include grey-text;
        margin: 0px;
    }
}