@import url(normalize.css);
.hero {
  background: #61c4d9 url("../img/hero-bg-branch.png") right no-repeat; }
  .hero__inner {
    height: 100vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .hero__features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 480px; }
  .hero__dotted-list {
    position: absolute;
    right: -30px;
    top: 34vh; }
  .hero::after {
    content: "";
    background: url("../img/single-leaf.png") no-repeat;
    width: 57px;
    height: 98px;
    position: absolute;
    bottom: -4vh;
    left: 3.2vh; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 38px;
  padding-top: 3.5vh; }
  .header__logo {
    height: 38px;
    width: 53px; }

.headline {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  max-height: 330px;
  position: relative; }
  .headline__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 0px 5px 0px; }
  .headline__info {
    font-size: 21px;
    margin: 0px 0px 30px 0px; }

.choccos-berries {
  position: absolute;
  left: 495px;
  top: -93px; }

@font-face {
  font-family: "Alegreya Sans";
  src: local("../fonts/AlegreyaSans/AlegreyaSans-Regular.ttf") format("ttf"); }

@font-face {
  font-family: "Alegreya Sans";
  src: local("../fonts/AlegreyaSans-Bold.ttf") format("ttf");
  font-weight: bold; }

.container {
  width: auto;
  max-width: 940px;
  margin: 0 auto; }

.page {
  font-family: "Alegreya Sans", "sans-serif";
  color: #ffffff;
  font-size: 30px; }

.link {
  text-decoration: none;
  color: #ffffff; }

.phone-num {
  font-size: 24px;
  line-height: 30px;
  font-family: "Alegreya Sans";
  text-transform: uppercase; }
  .phone-num__icon {
    width: 11px;
    height: 11px;
    fill: #ffffff;
    margin-right: 2px; }

.nav {
  width: 635px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .nav__item {
    font-size: 18px;
    line-height: 30px; }

.btn {
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
  font-weight: 800;
  text-transform: uppercase;
  display: block;
  width: 156px;
  height: 58px;
  background-color: #0f5a47;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .btn:hover {
    background-color: #0b4d3c; }
  .btn:active {
    opacity: 80%; }
  .btn--theme--white {
    background-color: #ffffff;
    color: #0f5a47; }
    .btn--theme--white:hover {
      background-color: #ffffff;
      -webkit-box-shadow: 0 0 3px #000000;
      box-shadow: 0 0 3px #000000; }

.feature-snippet {
  font-size: 16px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .feature-snippet__icon {
    width: 44px;
    height: 44px;
    fill: none;
    stroke: #aef5fe;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    margin-right: 8px; }
  .feature-snippet__info {
    width: 70px;
    height: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.dotted-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .dotted-list__item {
    margin: 0 0 1.36vh 0;
    width: 0.55vh;
    height: 0.55vh;
    padding: 0px; }
  .dotted-list__item--selected .dot__outter {
    visibility: visible; }
  .dotted-list__item:last-child {
    margin: 0px; }

.dot__outter {
  visibility: hidden; }
