//font-weights
$extra-bold: 800;
$medium: 500;

//colors
$black: #000000;
$white: #ffffff;
$title-black: #0d0d0d;
$text-grey: #666666;
$light-grey: #f2f5f4;
$dark-grey: #2a2a29;
$title-dark-grey: #323232;
$btn-green: #0f5a47;
$btn-green-hover: #0b4d3c;
$bg-light-blue: #61c4d9;
$icon-light-blue: #aef5fe;

//normalize
@import "./misc/normalize.scss";

//setups
@import "./misc/mixins.scss";
@import "./misc/fonts.scss";
@import "./misc/layout.scss";

//blocks
@import "./blocks/header.scss";
@import "./blocks/phone-num.scss";
@import "./blocks/logo.scss";
@import "./blocks/nav.scss";
@import "./blocks/hero.scss";
@import "./blocks/btn.scss";
@import "./blocks/why.scss";
@import "./blocks/advantages.scss";
@import "./blocks/reviews.scss";
@import "./blocks/review-snippet.scss";
@import "./blocks/fixed-menu.scss";

