@font-face {
    font-family: "Alegreya Sans";
    src: local("../../fonts/AlegreyaSans/AlegreyaSans-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Alegreya Sans";
    src: local("../../fonts/AlegreyaSans/AlegreyaSans-Regular.ttf") format("ttf");
    font-weight: $medium;
}

@font-face {
    font-family: "Alegreya Sans";
    src: local("../../fonts/AlegreyaSans-Bold.ttf") format("ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Alegreya Sans";
    src: local("../../fonts/AlegreyaSans-Bold.ttf") format("ttf");
    font-weight: $extra-bold;
}

@font-face {
    font-family: "Museo Sans Cyrl 500";
    src: local("../../fonts/MuseoSansCyrl-500.woff") format("woff");
    font-weight: $medium;
}

