@mixin grey-text {
    color: $text-grey;
    font-size: 18px;
}

@mixin bg-slice ($width, $height, $url) {
    content: "";
    background: url($url) no-repeat;
    width: $width;
    height: $height;
    position: absolute;
    z-index: 1;
}

@mixin container($width:940px) {
    width: $width;
    margin: 0 auto;
}