.fixed-menu {
  position: fixed;
  top: 32vh;
  right: 4.5vw;
  z-index: 2;
}

.fixed-menu__dot {
  display: block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 5px;
  position: relative;

  &--active {
    border-color: $white;
  }

  &:before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
