.hero {
    background: $bg-light-blue url("../img/bg/hero-bg-branch.png") no-repeat right;
    position: relative;
    &::after {
        @include bg-slice(57px, 98px,"../img/bg/bg-single-leaf.png");
        bottom: -45px;
        left: 3.9vw;
        z-index: 1;
    }
}

.hero__container {
    @include container();
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    position: relative;
}

.hero__promo {
    display: flex;
    align-items: center;
}

.hero__bars-pic {
    margin-left: 100px;
    margin-top: 9.2vh;
    position: relative;
    z-index: 1;
}

.hero__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.hero__info {
    font-size: 21px;
    text-transform: none;
    font-weight: normal;
    line-height: 1.4;
    max-width: 340px;
    
    margin-bottom: 30px;
}

.hero__features {
    display: flex;
    justify-content: space-between;
    max-width: 480px;
    position: absolute;
    left: 0;
    bottom: 45px;
}

.hero__feature-snippet {
    font-size: 16px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
}

.hero__feature-icon {
    width: 44px;
    height: 44px;
    //Вытащил следующие стили из svg-файлов, цвет поменял на нужный, без них нормально не отрисовывается
    fill: none;
    stroke: $icon-light-blue;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
    margin-right: 8px;
}