.reviews {
    position: relative;
    
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include container();
    }

    &__main {
        width: 100%;
    }

    &__title {
        padding-bottom: 40px;
    }

    &::before {
        @include bg-slice(150px, 86px, "../img/bg/reviews-bg-top-berries.png");
        top: 36px;
        right: 1.3vw;
    }

    &:after {
        @include bg-slice(139px, 288px, "../img/bg/reviews-bg-left-bottom-berries.png");
        left: 0;
        bottom: -140px;
    }
}

.user-review {
    height: 345px;
    
    background: url("../img/bg/review-bg-half-circle.jpg") no-repeat top center, #f8faf9 url("../img/bg/review-bg-branch.jpg") no-repeat top right, ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 45px;

    &__content {
        max-width: 435px;
        height: 260px;
        display: flex;
        flex-wrap: wrap;
        padding-left: 25px;
        text-align: left;
        padding-top: 20px;
    }

    &__title {
        font-size:30px;
        color: $title-dark-grey;
        font-weight: $medium;
        margin: 0px;
        margin-right: auto;
        
    }

    &__text {
        @include grey-text;
        margin: 0px;
    }
    &__author {
        @include grey-text;
    }
}

.reviews-users {
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__pic {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        cursor: pointer;
        margin: 0px 10px;
        
        &:hover {
            box-shadow: 0 0 5px $black;
        }

        &--selected{
            border: 5px solid $btn-green;
            margin: 0px 5px;
            
            &:hover {
                box-shadow: none;
            }
        }
    }
}