.reviews {
    position: relative;
    
    &::before {
        @include bg-slice(150px, 86px, "../img/bg/reviews-bg-top-berries.png");
        top: 5.5vh;
        right: 1.3vw;
    }

    &:after {
        @include bg-slice(139px, 288px, "../img/bg/reviews-bg-left-bottom-berries.png");
        left: 0;
        bottom: -140px;
    }
}

.reviews__container {
    @include container();
}

.reviews__title {
    margin-bottom: 40px;
    text-align: center;
}

.reviews__switcher {
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.reviews__switch-btn--selected {
    .reviews__small-pic {
        border: 5px solid $btn-green;
        margin: 0px 5px;
        
        &:hover {
            box-shadow: none;
        }
    }
 }

.reviews__small-pic {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin: 0px 10px;
    box-sizing: content-box;
    &:hover {
        box-shadow: 0 0 5px $black;
    }
        
}