.why {
    background: $white url("../img/bg/why-bg-leaf.png") no-repeat left center;
    position: relative;
    align-content: center;
    &::after {
        @include bg-slice(161px, 232px, "../img/bg/why-bg-raspberries.png");
        bottom: -105px;
        left: 0;
    }
}

.why__container {
    @include container;
}

.why__promo {
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why__title {
    text-align: center;
}

.why__description {
    @include grey-text;
    text-align: center;
    max-width: 415px;
}
