.why {
    background: $white url("../../img/bg/why-bg-leaf.png") no-repeat left center;
    position: relative;

    &__inner {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include container;

    }

    &__advantages {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background: url("../../img/bg/advantages-three-dots.png") no-repeat 30.5% 25%, url("../../img/bg/advantages-three-dots.png") no-repeat 69.5% 25%;
    }

    &::after {
        @include bg-slice(161px, 232px, "../../img/bg/why-bg-raspberries.png");
        bottom: -13vh;
        left: 0;
    }
}

.why-headline {
    text-align: center;
    padding-bottom: 50px;

    &__title {
        max-width: 415px;
        text-align: center;
    }

    &__description {
        @include grey-text;
        max-width: 415px;
        text-align: center;
        display: block;
        margin: 0px;
    }
}

